<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>{{ character?.name }}</mat-card-title>
    <mat-card-subtitle>{{ character?.species }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="getCharacterImageUrl()">
  <mat-card-content>
    <p>Gender:
      <a>{{ character?.gender }}</a>
    </p>
    <p>Origin:
      <a href="/">{{ character?.origin?.name }}</a>
    </p>
    <p>Location:
      <a href="/">{{ character?.location?.name }}</a>
    </p>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Episodes</mat-panel-title>
        <mat-panel-description>{{ character?.episode?.length }} episodes</mat-panel-description>
      </mat-expansion-panel-header>

      @for (episode of getPaginatedEpisodes(); track $index) {
        <p>{{ episode }}</p>
      }

      <mat-paginator #paginator
      (page)="handlePageEvent($event)"
      [length]="character?.episode?.length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="pageSizeOptions"
      aria-label="Select page">

      </mat-paginator>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
