@if (character()) {
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar [style]="getComputedStyles()"></div>
      <mat-card-title>{{ character()?.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="onDetailsClick()">Details</button>
      <button mat-icon-button (click)="onFavoriteClick()">
        @if (character()?.isFavorite) {
          <mat-icon> favorite </mat-icon>
        } @else {
          <mat-icon> favorite_border </mat-icon>
        }
      </button>
    </mat-card-actions>
  </mat-card>
}
